<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="editmodal">

    <div class="modal fade"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true"
         id="editmodal">


        <div class="modal-dialog" modal-dialog-centered>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold"
                        id="editModalLabel">
                        Edit user
                    </h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form id="editForm">

                    <div class="modal-body">
                        <div class="container col-6 text-center offset-md-3">

                            <table>

                                <tr>
                                    <div class="form-group text-center">
                                        <strong>ID</strong>
                                        <input id="edit_id"
                                               type="text"
                                               class="form-control"
                                               name="id"
                                               readonly>
                                    </div>
                                </tr>

                                <tr>
                                    <div class="form-group text-center">
                                        <strong>First name</strong>
                                        <input id="edit_firstname"
                                               type="text"
                                               class="form-control"
                                               name="firstname"
                                               required
                                               minlength="2"
                                               maxlength="50"
                                               pattern="^[A-Za-zА-Яа-яЁё0-9_]+$"
                                               placeholder="First name">
                                    </div>
                                </tr>

                                <tr>
                                    <div class="form-group text-center">
                                        <strong>Last name</strong>
                                        <input id="edit_lastname"
                                               type="text"
                                               class="form-control"
                                               name="lastname"
                                               required
                                               minlength="2"
                                               maxlength="50"
                                               pattern="^[A-Za-zА-Яа-яЁё0-9_]+$"
                                               placeholder="Last name">
                                    </div>
                                </tr>

                                <tr>
                                    <div class="form-group text-center">
                                        <strong>Age</strong>
                                        <input id="edit_age"
                                               type="number"
                                               class="form-control"
                                               name="age"
                                               required
                                               min="0"
                                               max="120"
                                               placeholder="Age">
                                    </div>
                                </tr>

                                <tr>
                                    <div class="form-group text-center">
                                        <strong>Email</strong>
                                        <input id="edit_email"
                                               type="email"
                                               class="form-control"
                                               name="email"
                                               required
                                               placeholder="Email">
                                    </div>
                                </tr>

                                <tr>
                                    <div class="form-group text-center">
                                        <strong>Password</strong>
                                        <input id="edit_password"
                                               type="password"
                                               class="form-control"
                                               name="password"
                                               minlength="3"
                                               maxlength="50"
                                               placeholder="Password">
                                    </div>
                                </tr>


                                <tr>
                                    <div class="form-group text-center">
                                        <strong>Role</strong>
                                        <select id="edit_roles"
                                                class="custom-select"
                                                name="roles"
                                                multiple
                                                size="2"
                                                required>
                                        </select>
                                    </div>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal">
                            Close
                        </button>
                        <button type="submit"
                                class="btn btn-primary">
                            Edit
                        </button>


                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

</body>
</html>