<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Users</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
            margin: 0;
            padding: 0;
            background-color: #F8F9FA;
        }

        .container-fluid {
            flex: 1;
        }

        #sidebar {
            flex-direction: column;
            padding: 0px;
        }

        input:invalid {
            background-color: #FFEB99;
        }

    </style>
</head>
<body>

<!-- Верхняя панель-->

<nav class="navbar navbar-dark bg-dark text-white">
    <div class="container-fluid">
        <div class="navbar-header">
            <div style="font-size: large">
                <a href="/admin" class="font-weight-bold text-white" th:text="${activeUser.getEmail()}"
                   sec:authorize="hasAuthority('ADMIN')"></a>
                <a href="/user" class="font-weight-bold text-white" th:text="${activeUser.getEmail()}"
                   sec:authorize="!hasAuthority('ADMIN')"></a>
                <a>with roles:</a>
                <th:block th:each="role : ${activeUser.getRoles()}">
                    <a th:text="${role.getName()}"></a>
                </th:block>
            </div>
        </div>
        <div class="navbar-header float-right">
            <a href="/logout" class="text-secondary">Logout</a>
        </div>
    </div>
</nav>


<div class="container-fluid" d-flex flex-column>
    <div class="row flex-fill d-flex h-100 justify-content-start">

        <!-- Боковая панель-->

        <div id="sidebar" class="col-2 bg-white">
            <br>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="home-tab" href="/admin" role="tab"
                   aria-selected="true"> <!-- data-toggle="pill"   aria-controls="home"-->
                    Admin
                </a>
                <a class="nav-link" id="profile-tab" href="/user" role="tab"
                   aria-selected="false"> <!-- data-toggle="pill"     aria-controls="profile"-->
                    User
                </a>
            </div>
        </div>


        <!-- Основной контент-->

        <div class="col-10">
            <br>
            <div class="tab-content px-3" id="tabContent">

                <div class="tab-pane active" id="adminHome" role="tabpanel">
                    <h1>Admin panel</h1>

                    <!-- Меню-->

                    <div class="py-1 bg-light">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link" id="users-tab"
                                   href="/admin" role="tab" aria-controls="nav-home" aria-selected="false">
                                    <!--  data-toggle="tab"    -->
                                    Users Table
                                </a>
                                <a class="nav-item nav-link active" id="nav-profile-tab"
                                   href="/admin/new_user" role="tab" aria-controls="nav-profile"
                                   aria-selected="true">  <!--  data-toggle="tab"    -->
                                    New User
                                </a>
                            </div>
                        </nav>

                        <!--  Список пользователей -->

                        <div class="card">
                            <div class="tab-content" id="navTabContent">


                                <!--  Добаление нового пользователя -->

                                <div class="tab-pane active"
                                     id="new_user"
                                     role="tabpanel">
                                    <h4 class="card-header" style="background-color: #F8F9FA">
                                        Add new user
                                    </h4>
                                    <div class="card-body">

                                        <div class="container">
                                            <div class="row">
                                                <div class="col offset-md-2">
                                                    <form class="createForm"
                                                          id="createForm"
                                                          th:action="@{/admin/new_user}"
                                                          th:object="${user}"
                                                          method="post">
                                                        <div class="form-group">

                                                            <div class="form-group col-6 text-center offset-md-2">
                                                                <div th:text="${emailExists}"></div>
                                                                <th:block th:if="${#fields.hasErrors()}">
                                                                    <h6 th:each="err : ${#fields.allErrors()}" th:text="${err}"></h6>
                                                                </th:block>
                                                                <table>
                                                                    <tr>
                                                                        <div class="form-group text-center">
                                                                            <strong>First name</strong>
                                                                            <input th:type="text"
                                                                                   class="form-control"
                                                                                   th:field="*{firstname}"
                                                                                   name="firstname"
                                                                                   required
                                                                                   minlength="2"
                                                                                   maxlength="50"
                                                                                   pattern="^[A-Za-zА-Яа-яЁё0-9_]+$"
                                                                                   placeholder="First name">
                                                                        </div>
                                                                    </tr>

                                                                    <tr>
                                                                        <div class="form-group text-center">
                                                                            <strong>Last name</strong>
                                                                            <input th:type="text"
                                                                                   class="form-control"
                                                                                   th:field="*{lastname}"
                                                                                   name="lastname"
                                                                                   required
                                                                                   minlength="2"
                                                                                   maxlength="50"
                                                                                   pattern="^[A-Za-zА-Яа-яЁё0-9_]+$"
                                                                                   placeholder="Last name">
                                                                        </div>
                                                                    </tr>

                                                                    <tr>
                                                                        <div class="form-group text-center">
                                                                            <strong>Age</strong>
                                                                            <input th:type="number"
                                                                                   class="form-control"
                                                                                   th:field="*{age}"
                                                                                   name="age"
                                                                                   required
                                                                                   min="0"
                                                                                   max="120"
                                                                                   placeholder="Age">
                                                                        </div>
                                                                    </tr>

                                                                    <tr>
                                                                        <div class="form-group text-center">
                                                                            <strong>Email</strong>
                                                                            <input th:type="email"
                                                                                   class="form-control"
                                                                                   th:field="*{email}"
                                                                                   name="email"
                                                                                   required
                                                                                   placeholder="Email">
                                                                        </div>
                                                                    </tr>

                                                                    <tr>
                                                                        <div class="form-group text-center">
                                                                            <strong>Password</strong>
                                                                            <input th:type="password"
                                                                                   class="form-control"
                                                                                   th:field="*{password}"
                                                                                   name="password"
                                                                                   required
                                                                                   minlength="3"
                                                                                   maxlength="50"
                                                                                   placeholder="Password">
                                                                        </div>
                                                                    </tr>


                                                                    <tr>
                                                                        <div class="form-group text-center">
                                                                            <strong>Role</strong>
                                                                            <select class="custom-select"
                                                                                    multiple
                                                                                    size="2"
                                                                                    th:field="*{roles}"
                                                                                    required>
                                                                                <option th:each="role: ${roleName}"
                                                                                        th:text="${role.name}"
                                                                                        th:value="${role.id}">
                                                                                </option>
                                                                            </select>
                                                                        </div>

                                                                    </tr>
                                                                </table>
                                                                <input class="btn btn-success" type="submit"
                                                                       value="Add new user">
                                                            </div>


                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>


    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>
