<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div align="center">
    <h3>Новый пользователь</h3>

    <form action="#" th:action="@{/users/new_user}" th:object="${user}" method="post">
        <table border="0" cellpadding="5">
            <tr>
                <td>Имя:</td>
                <td><input maxlength="30" type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td>Возраст:</td>
                <td><input required pattern="^[0-9]+$" maxlength="3" type="text" th:field="*{age}"/></td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td><input maxlength="255" type="text" th:field="*{email}"/></td>
            </tr>
            <th:block th:if="${#fields.hasErrors()}">
                <h6 th:each="err : ${#fields.allErrors()}" th:text="${err}"></h6>
            </th:block>
            <tr>
                <td colspan="2"><input type="submit" value="Сохранить"></td>
            </tr>
        </table>
    </form>

    <h4>
        <a href="../users">Назад</a>
    </h4>
    <h4>
        <a href="../users/..">На главную</a>
    </h4>
</div>
</body>
</html>