<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- My config -->
    <script type="text/javascript" src="/jquery-3.6.1.js"></script>
    <script type="text/javascript" src="/script.js"></script>
    <link rel="stylesheet"  href="/style.css"/>

    <title>Users</title>

</head>
<body>

<!-- Верхняя панель-->

<nav class="navbar navbar-dark bg-dark text-white">
    <div class="container-fluid">
        <div class="navbar-header">
            <div style="font-size: large">
                <a href="/admin" class="font-weight-bold text-white" th:text="${activeUser.getEmail()}"
                   sec:authorize="hasAuthority('ADMIN')"></a>
                <a href="/user" class="font-weight-bold text-white" th:text="${activeUser.getEmail()}"
                   sec:authorize="!hasAuthority('ADMIN')"></a>
                <a>with roles:</a>
                <th:block th:each="role : ${activeUser.getRoles()}">
                    <a th:text="${role.getName()}"></a>
                </th:block>
            </div>
        </div>
        <div class="navbar-header float-right">
            <a href="/logout" class="text-secondary">Logout</a>
        </div>
    </div>
</nav>


<div class="container-fluid" d-flex flex-column>
    <div class="row flex-fill d-flex h-100 justify-content-start">

        <!-- Боковая панель-->

        <div id="sidebar" class="col-2 bg-white">
            <br>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="home-tab" href="/admin" role="tab"
                   aria-selected="true"> <!-- data-toggle="pill"   aria-controls="home"-->
                    Admin
                </a>
                <a class="nav-link" id="profile-tab" href="/user" role="tab"
                   aria-selected="false"> <!-- data-toggle="pill"     aria-controls="profile"-->
                    User
                </a>
            </div>
        </div>


        <!-- Основной контент-->

        <div class="col-10">
            <br>
            <div class="tab-content px-3" id="tabContent">

                <div class="tab-pane active" id="adminHome" role="tabpanel">
                    <h1>Admin panel</h1>

                    <!-- Меню-->

                    <div class="py-1 bg-light">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="users-tab"
                                   href="/admin" role="tab" aria-controls="nav-home" aria-selected="true">
                                    <!--  data-toggle="tab"    -->
                                    Users Table
                                </a>
                                <a class="nav-item nav-link" id="nav-profile-tab"
                                   href="/admin/new_user" role="tab" aria-controls="nav-profile"
                                   aria-selected="false">  <!--  data-toggle="tab"    -->
                                    New User
                                </a>
                            </div>
                        </nav>

                        <!--  Список пользователей -->

                        <div class="card">
                            <div class="tab-content" id="navTabContent">

                                <div class="tab-pane active" id="usersList" role="tabpanel">
                                    <h4 class="card-header" style="background-color: #F8F9FA">
                                        All users
                                    </h4>
                                    <div class="card-body">

                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <th:block th:each="user : ${userslist}">
                                                <tr>
                                                    <td th:text="${user.getId()}"></td>
                                                    <td th:text="${user.getFirstname()}"></td>
                                                    <td th:text="${user.getLastname()}"></td>
                                                    <td th:text="${user.getAge()}"></td>
                                                    <td th:text="${user.getEmail()}"></td>
                                                    <td><a th:each="role : ${user.getRoles()}"
                                                           th:text="${role.getName() + ' '}"/>
                                                    </td>

                                                    <!-- Кнопка и модальное окно для редактирования пользователя-->

                                                    <td>
                                                        <button type="button"
                                                                class="btn btn-info"
                                                                data-toggle="modal"
                                                                th:attr="data-target='#editModal'+${user.id}">
                                                            Edit
                                                        </button>

                                                        <div class="modal fade"
                                                             th:attr="id='editModal' + ${user.id}"
                                                             aria-labelledby="exampleModalLabel"
                                                             aria-hidden="true">

                                                            <div class="modal-dialog" modal-dialog-centered>
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title font-weight-bold"
                                                                            id="editModalLabel">
                                                                            Edit user
                                                                        </h5>
                                                                        <button type="button"
                                                                                class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>

                                                                    <form th:action="@{/admin/edit_user{id} (id=${user.id})}"
                                                                          th:object="${user}"
                                                                          th:method="POST">

                                                                        <div class="modal-body">
                                                                            <div class="container col-6 text-center offset-md-3">
                                                                                <table>

                                                                                    <tr>
                                                                                        <div class="form-group text-center">
                                                                                            <strong>ID</strong>
                                                                                            <input th:type="text"
                                                                                                   class="form-control"
                                                                                                   th:value="*{id}"
                                                                                                   name="id"
                                                                                                   readonly>
                                                                                        </div>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <div class="form-group text-center">
                                                                                            <strong>First name</strong>
                                                                                            <input th:type="text"
                                                                                                   class="form-control"
                                                                                                   th:value="*{firstname}"
                                                                                                   name="firstname"
                                                                                                   required
                                                                                                   minlength="2"
                                                                                                   maxlength="50"
                                                                                                   pattern="^[A-Za-zА-Яа-яЁё0-9_]+$"
                                                                                                   placeholder="First name">
                                                                                        </div>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <div class="form-group text-center">
                                                                                            <strong>Last name</strong>
                                                                                            <input th:type="text"
                                                                                                   class="form-control"
                                                                                                   th:value="*{lastname}"
                                                                                                   name="lastname"
                                                                                                   required
                                                                                                   minlength="2"
                                                                                                   maxlength="50"
                                                                                                   pattern="^[A-Za-zА-Яа-яЁё0-9_]+$"
                                                                                                   placeholder="Last name">
                                                                                        </div>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <div class="form-group text-center">
                                                                                            <strong>Age</strong>
                                                                                            <input th:type="number"
                                                                                                   class="form-control"
                                                                                                   th:value="*{age}"
                                                                                                   name="age"
                                                                                                   required
                                                                                                   min="0"
                                                                                                   max="120"
                                                                                                   placeholder="Age">
                                                                                        </div>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <div class="form-group text-center">
                                                                                            <strong>Email</strong>
                                                                                            <input th:type="email"
                                                                                                   class="form-control"
                                                                                                   th:value="*{email}"
                                                                                                   name="email"
                                                                                                   required
                                                                                                   placeholder="Email">
                                                                                        </div>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <div class="form-group text-center">
                                                                                            <strong>Password</strong>
                                                                                            <input th:type="password"
                                                                                                   class="form-control"
                                                                                                   th:field="*{password}"
                                                                                                   name="password"
                                                                                                   minlength="3"
                                                                                                   maxlength="50"
                                                                                                   placeholder="Password">
                                                                                        </div>
                                                                                    </tr>


                                                                                    <tr>
                                                                                        <div class="form-group text-center">
                                                                                            <strong>Role</strong>
                                                                                            <select class="custom-select"
                                                                                                    th:value="*{roles}"
                                                                                                    name="roles"
                                                                                                    multiple
                                                                                                    size="2"
                                                                                                    required>

                                                                                                <option th:each="role: ${roleName}"
                                                                                                        th:value="${role.id}"
                                                                                                        th:selected="${user.roles.contains(role)}">
                                                                                                    <th:block
                                                                                                            th:text="${role.name}">
                                                                                                    </th:block>
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                        </div>


                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-dismiss="modal">
                                                                                Close
                                                                            </button>
                                                                            <button type="submit"
                                                                                    class="btn btn-primary editBTN">
                                                                                Edit
                                                                            </button>


                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>


                                                    <!-- Кнопка и модальное окно для удаления пользователя-->


                                                    <td>
                                                        <button type="button"
                                                                class="btn btn-danger"
                                                                data-toggle="modal"
                                                                th:attr="data-target='#deleteModal'+${user.id}">
                                                            Delete
                                                        </button>

                                                        <div class="modal fade"
                                                             th:attr="id='deleteModal' + ${user.id}"
                                                             aria-labelledby="exampleModalLabel"
                                                             aria-hidden="true">

                                                            <div class="modal-dialog" modal-dialog-centered>
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title font-weight-bold"
                                                                            id="deleteModalLabel">
                                                                            Delete user
                                                                        </h5>
                                                                        <button type="button"
                                                                                class="close"
                                                                                data-dismiss="modal"
                                                                                aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>

                                                                    <form th:action="@{/admin/delete_user{id} (id=${user.id})}"
                                                                          th:object="${user}">

                                                                        <div class="modal-body">
                                                                            <div class="container col-6 text-center offset-md-3">

                                                                                <table>

                                                                                    <tr>
                                                                                        <div class="form-group text-center">
                                                                                            <strong>ID</strong>
                                                                                            <input th:type="text"
                                                                                                   class="form-control"
                                                                                                   th:value="*{id}"
                                                                                                   name="id"
                                                                                                   readonly>
                                                                                        </div>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <div class="form-group text-center">
                                                                                            <strong>First name</strong>
                                                                                            <input th:type="text"
                                                                                                   class="form-control"
                                                                                                   th:value="*{firstname}"
                                                                                                   name="firstname"
                                                                                                   readonly
                                                                                                   placeholder="First name">
                                                                                        </div>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <div class="form-group text-center">
                                                                                            <strong>Last name</strong>
                                                                                            <input th:type="text"
                                                                                                   class="form-control"
                                                                                                   th:value="*{lastname}"
                                                                                                   name="lastname"
                                                                                                   readonly
                                                                                                   placeholder="Last name">
                                                                                        </div>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <div class="form-group text-center">
                                                                                            <strong>Age</strong>
                                                                                            <input th:type="number"
                                                                                                   class="form-control"
                                                                                                   th:value="*{age}"
                                                                                                   name="age"
                                                                                                   readonly
                                                                                                   placeholder="Age">
                                                                                        </div>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <div class="form-group text-center">
                                                                                            <strong>Email</strong>
                                                                                            <input th:type="email"
                                                                                                   class="form-control"
                                                                                                   th:value="*{email}"
                                                                                                   name="email"
                                                                                                   readonly
                                                                                                   placeholder="Email">
                                                                                        </div>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <div class="form-group text-center">
                                                                                            <strong>Password</strong>
                                                                                            <input th:type="password"
                                                                                                   class="form-control"
                                                                                                   th:field="*{password}"
                                                                                                   name="password"
                                                                                                   readonly
                                                                                                   placeholder="Password">
                                                                                        </div>
                                                                                    </tr>


                                                                                    <tr>
                                                                                        <div class="form-group text-center">
                                                                                            <strong>Role</strong>
                                                                                            <select class="custom-select"
                                                                                                    th:value="*{roles}"
                                                                                                    name="roles"
                                                                                                    size="2"
                                                                                                    disabled>

                                                                                                <option th:each="role: ${roleName}"
                                                                                                        th:value="${role.id}"
                                                                                                        th:selected="${user.roles.contains(role)}">
                                                                                                    <th:block
                                                                                                            th:text="${role.name}">
                                                                                                    </th:block>
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                        </div>

                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-dismiss="modal">
                                                                                Close
                                                                            </button>
                                                                            <button type="submit"
                                                                                    class="btn btn-danger">
                                                                                Delete
                                                                            </button>

                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </th:block>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>


    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>