<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- My config -->
    <script type="text/javascript" src="/jquery-3.6.1.js"></script>
    <script type="text/javascript" src="/script.js"></script>
    <link rel="stylesheet" href="/style.css"/>

    <title>Users</title>

</head>
<body>

<!-- Верхняя панель-->

<nav class="navbar navbar-dark bg-dark text-white">
    <div class="container-fluid">
        <div class="navbar-header">
            <div style="font-size: large">
                <a href="/admin" class="font-weight-bold text-white"
                   id="currentUserName1"
                   sec:authorize="hasAuthority('ADMIN')"></a>
                <a href="/user" class="font-weight-bold text-white"
                   id="currentUserName2"
                   sec:authorize="!hasAuthority('ADMIN')"></a>
                <a>with roles:</a>
                <a id="currentUserRoles"></a>
            </div>
        </div>
        <div class="navbar-header float-right">
            <a href="/logout" class="text-secondary">Logout</a>
        </div>
    </div>
</nav>


<div class="container-fluid" d-flex flex-column>
    <div class="row flex-fill d-flex h-100 justify-content-start">

        <!-- Боковая панель-->

        <div id="sidebar" class="col-2 bg-white">
            <br>
            <div class="nav flex-column nav-pills" id="left-menu" role="tablist" aria-orientation="vertical">
                <a class="nav-link active"
                   id="home-tab"
                   href="#adminHome"
                   role="tab"
                   data-toggle="pill"
                   aria-controls="home"
                   aria-selected="true"
                   sec:authorize="hasAuthority('ADMIN')">
                    Admin
                </a>
                <a class="nav-link"
                   id="profile-tab"
                   href="#profile"
                   role="tab"
                   data-toggle="pill"
                   aria-controls="profile"
                   aria-selected="false">
                    User
                </a>

            </div>
        </div>


        <!-- Основной контент-->

        <div class="col-10">
            <br>
            <div class="tab-content px-3" id="tabContent">


                <!--Вкладка админа-->

                <div class="tab-pane active"
                     id="adminHome"
                     role="tabpanel"
                     aria-labelledby="home-tab"
                     sec:authorize="hasAuthority('ADMIN')">

                    <div th:insert="fragments/admin_panel :: adminHome"></div>

                </div>

                <!--Вкладка пользователя-->

                <div class="tab-pane"
                     id="profile"
                     role="tabpanel"
                     aria-labelledby="profile-tab">

                    <div th:insert="fragments/current_user_info :: profile"></div>

                </div>

            </div>
        </div>


    </div>
</div>

<div th:insert="fragments/modal_edit_user :: editmodal"></div>
<div th:insert="fragments/modal_delete_user :: deleteModal"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>