<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Users</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
            margin: 0;
            padding: 0;
            background-color: #F8F9FA;
        }

        .container-fluid {
            flex: 1;
        }

        #sidebar {
            flex-direction: column;
            padding: 0px;
        }

    </style>
</head>
<body>

<!-- Верхняя панель-->

<nav class="navbar navbar-dark bg-dark text-white">
    <div class="container-fluid">
        <div class="navbar-header">
            <div style="font-size: large">
                <a href="/admin" class="font-weight-bold text-white" th:text="${activeUser.getEmail()}"
                   sec:authorize="hasAuthority('ADMIN')"></a>
                <a href="/user" class="font-weight-bold text-white" th:text="${activeUser.getEmail()}"
                   sec:authorize="!hasAuthority('ADMIN')"></a>
                <a>with roles:</a>
                <th:block th:each="role : ${activeUser.getRoles()}">
                    <a th:text="${role.getName()}"></a>
                </th:block>
            </div>
        </div>
        <div class="navbar-header float-right">
            <a href="/logout" class="text-secondary">Logout</a>
        </div>
    </div>
</nav>


<div class="container-fluid" d-flex flex-column>
    <div class="row flex-fill d-flex h-100 justify-content-start">

        <!-- Боковая панель-->

        <div id="sidebar" class="col-2 bg-white">
            <br>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" id="home-tab"  href="/admin" role="tab"
                    aria-selected="false" sec:authorize="hasAuthority('ADMIN')"> <!--data-toggle="pill"  aria-controls="home"-->
                    Admin
                </a>
                <a class="nav-link active" id="profile-tab" href="/user" role="tab"
                    aria-selected="true">  <!--data-toggle="pill"  aria-controls="profile"-->
                    User
                </a>
            </div>
        </div>

        <!-- Основной контент-->

        <div class="col-10">
            <br>
            <div class="tab-content px-3" id="tabContent">

                <!--  Информация о текущем пользователе -->

                <div class="tab-pane active" id="profile" role="tabpanel">
                    <h1>User information-page</h1>

                    <div class="py-1 bg-light">
                        <div class="card">
                            <div class="tab-content" id="userContent">
                                <div class="tab-pane active" id="aboutUser" role="tabpanel">
                                    <h4 class="card-header" style="background-color: #F8F9FA">
                                        About user
                                    </h4>
                                    <div class="card-body">

                                        <table id="userPageTable" class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td th:text="${activeUser.getId()}"></td>
                                                <td th:text="${activeUser.getFirstname()}"></td>
                                                <td th:text="${activeUser.getLastname()}"></td>
                                                <td th:text="${activeUser.getAge()}"></td>
                                                <td th:text="${activeUser.getEmail()}"></td>
                                                <td><a th:each="role : ${activeUser.getRoles()}"
                                                       th:text="${role.getName() + ' '}"/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>


</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>