<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User information-page</h1>
<div align="center">
    <h3>About user</h3>
    <div>
        <table border="1" cellpadding="5">
            <tr>
                <td>Id</td>
                <td>Имя</td>
                <td>Возраст</td>
                <td>e-mail</td>
                <td>Роль</td>
            </tr>
            <th:block th:value="${user}">
                <tr>
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getAge()}"></td>
                    <td th:text="${user.getAge()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td><p th:each="role : ${user.getRoles()}" th:text="${role.getName()}"> /></td>
                </tr>
            </th:block>
        </table>
    </div>

    <div sec:authorize="hasAuthority('ADMIN')">
        <br>
        <form th:action="@{/admin}" th:method="GET">
            <input type="submit" value="На страницу админа"/>
        </form>
    </div>

    <br>
    <form action="#" th:action="@{/logout}" th:method="Get">
        <input type="submit" value="Выход"/>
    </form>

</div>


</body>
</html>